.DS_Store
npm-debug.log
/lib/bs/
/node_modules/
/bundleOutput/
*.bundle.js
*.env
package.lock
yarn-error.log*
catalyst


# reason
lib
.merlin
.bsb.lock
lib/*
*.bs.js

#project-specific
public/index.html
public/build-manifest.json

public/build/*