.transaction {
    > input {
       width: -webkit-fill-available;
       padding: 5px;
       margin: 0.5rem 0 1rem 0;
       background-color: #D7D7D7;;
    }
    
    > input::placeholder {
        font-weight: bold;
        opacity: 0.5;
        color: #797676;
    }
}